header {
  margin-bottom: 4rem;
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1000;
    min-height: 44px;
    background: #333 !important;

    .container {
      min-height: 44px;
      padding: 4px 0;
      width: 95%;

      @media (max-width: 990px) {
        padding: 10px 0;
      }
    }

    i {
      margin-right: 5px;
    }

    .logo {
      margin-top: 4px;
      color: #e7e7e7 !important;
      text-transform: capitalize !important;
      font-weight: 500;
      margin: 0;
      font-size: 1.4rem;
      line-height: 1;
    }

    .nav-item,
    .nav-link {
      margin-right: 0;
      color: #ececec !important;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0;
      text-transform: capitalize !important;
    }

    .icon-wrapper {
      display: inline-block;
    }

    .icon-container {
      display: flex;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        width: 20px;

        i {
          transform: translateY(-1px);
        }

        @media (max-width: 991px) {
          width: 24px;
        }
      }
    }

    .navbar-toggler {
      padding: 0;
      border: 0;
    }

    .dropdown-menu {
      @media (max-width: 991px) {
        background: unset;
        border-radius: 0.25rem;
        border: 1px solid rgb(68, 68, 68);

        a {
          color: #ececec !important;
          transition: 0.2s ease-in-out;

          &:hover {
            background: rgb(77, 77, 77);
          }
        }
      }
    }
  }
}
