body {
  overflow-x: hidden;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-page-section {
    min-width: 350px;
  }

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
}

#root {
  background-color: #222;
}

.overflowTop {
  background: #303030;
  /* background: blue; */
  height: 50vh;
  width: 100vw;
  position: fixed;
  z-index: -100;
  top: 0;
}

.overflowBottom {
  background: #222;
  /* background: red; */
  height: 50vh;
  width: 100vw;
  position: fixed;
  z-index: -100;
  bottom: 0;
}
